
.drawer-heading {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .938rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .04em;
  text-decoration: inherit;
  text-transform: inherit;
  font-weight: 500;
  color: #202124;
  margin-bottom: 5px;
  padding: 12px 24px;
  font-size: 1rem
}

.drawer-list {
  font-family: Roboto Mono;
  font-weight: 500
}

.drawer-list__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 42px
}

.drawer-list--sublevel .drawer-list__item {
  border-left: none
}

.drawer-list--sublevel .drawer-link {
  padding-left: 72px
}

.drawer-list__item--active>.drawer-link {
  font-weight: 500;
  color: #202124;
  position: relative
}

.drawer-link {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .938rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .04em;
  text-decoration: inherit;
  text-transform: inherit;
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: transform, opacity;
  position: relative;
  padding: 12px 24px 12px 48px;
  font-size: 1rem;
  letter-spacing: normal;
  overflow: hidden;
  color: #616161
}

.drawer-link,
.drawer-link:active,
.drawer-link:focus,
.drawer-link:hover {
  text-decoration: none
}

.drawer-link:after,
.drawer-link:before {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: ""
}

.drawer-link:before {
  transition: opacity 15ms linear;
  z-index: 1
}

.drawer-link.mdc-ripple-upgraded:before {
  transform: scale(var(--mdc-ripple-fg-scale, 1))
}

.drawer-link.mdc-ripple-upgraded:after {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: center center
}

.drawer-link.mdc-ripple-upgraded--unbounded:after {
  top: var(--mdc-ripple-top, 0);
  left: var(--mdc-ripple-left, 0)
}

.drawer-link.mdc-ripple-upgraded--foreground-activation:after {
  animation: 225ms mdc-ripple-fg-radius-in forwards, 75ms mdc-ripple-fg-opacity-in forwards
}

.drawer-link.mdc-ripple-upgraded--foreground-deactivation:after {
  animation: .15s mdc-ripple-fg-opacity-out;
  transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1))
}

.drawer-link:after,
.drawer-link:before {
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%
}

.drawer-link.mdc-ripple-upgraded:after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%)
}

.drawer-link:after,
.drawer-link:before {
  background-color: #000
}

.drawer-link:hover:before {
  opacity: .04
}

.drawer-link.mdc-ripple-upgraded--background-focused:before,
.drawer-link:not(.mdc-ripple-upgraded):focus:before {
  opacity: .12
}

.drawer-link:not(.mdc-ripple-upgraded):after {
  transition: opacity .15s linear
}

.drawer-link:not(.mdc-ripple-upgraded):active:after {
  transition-duration: 75ms;
  opacity: .16
}

.drawer-link.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.16
}

.drawer-link.mdc-ripple-upgraded--background-focused:before,
.drawer-link:not(.mdc-ripple-upgraded):focus:before {
  transition-duration: 75ms;
  opacity: 0
}

.drawer-link:hover {
  color: #202124
}

.drawer-link--no-list {
  display: block;
  padding-left: 24px
}

.drawer-list__item .drawer-list .drawer-link {
  padding-left: 72px
}

.drawer-list__item .drawer-list__item .drawer-list .drawer-link {
  padding-left: 96px
}